@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Mono&family=Whisper&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: "Nunito", sans-serif
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
    color: white;
}

body{
    background-color: #1b1e23;
    display: flex;
    gap: 15vw;
}

